#contact {
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.contact__link a {
  fill: var(--button-bg);
}
#footer {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0.5em;
  user-select: none;
}
