/* Links */
.links-container {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 2rem;
  text-transform: uppercase;
  visibility: hidden;
}
.links-container a {
  text-decoration: none;
  color: var(--secondary-color);

  padding: 1rem;
  box-shadow: 0 0 5px var(--tertiary-color), 0 0 25px var(--tertiary-color);
}

.links-container a:hover {
  box-shadow: 0 0 5px var(--tertiary-color), 0 0 25px var(--tertiary-color),
    0 0 50px var(--tertiary-color), 0 0 100px var(--tertiary-color);
  cursor: pointer;
}
.links-container button {
  font-size: 2rem;
  text-transform: uppercase;
  border-style: none;
  color: var(--button-text-color);
  font-family: var(--ff-clash);
  padding: 1rem;
  background-color: var(--button-bg);
  box-shadow: 0 0 5px, 0 0 25px var(--button-primary-shadow);
}
.links-container button:hover {
  box-shadow: 0 0 5px var(--button-hover-shadow),
    0 0 25px var(--button-hover-shadow), 0 0 50px var(--button-hover-shadow);
  color: var(--button-hover-text-color);
  cursor: pointer;
}
