/* Links */
.links-container {
  margin-top: 5rem;

  font-size: 2rem;
  text-transform: uppercase;
  visibility: hidden;
}

#resume {
  font-size: 2rem;
  text-transform: uppercase;
  border-style: none;
  color: var(--button-text-color);
  font-family: var(--ff-clash);
  padding: 1rem;
  background-color: var(--button-bg);
  box-shadow: 0 0 5px, 0 0 25px var(--button-shadow);
  text-decoration: none;
}
#resume:hover {
  box-shadow: 0 0 5px var(--button-shadow), 0 0 25px var(--button-shadow),
    0 0 50px var(--button-shadow), 0 0 100px var(--button-shadow);

  cursor: pointer;
}
