#solutions {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: var(--ff-text);
}

#solutions h1 {
  font-size: 4rem;
  font-family: var(--ff-heading);
}
#solutions h2 {
  font-size: 1.6rem;
}
.solutions__container {
  margin-top: 2rem;
}
