/* base */
:root {
  --primary-color: #efefef;
  --secondary-color: #60021e;
  --tertiary-color: #dc6e6e;

  --button-bg: #2d2d23;
  --button-shadow: #b48954;

  --button-text-color: #f2e0cf;
  --scroll-color: #efefef;
  --ff-clash: "Clash Display";
  --ff-archivo: "Archivo", sans-serif;
}
/* dark theme */
.dark-mode {
  --primary-color: #0d1b1e;
  --secondary-color: #ffb5a7;
  --tertiary-color: #fcd5ce;

  --button-bg: #f9dcc4;
  --button-shadow: #fec89a;
  --scroll-color: #fcd5ce;
  --button-text-color: #0d1b1e;
}
/* Content */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  padding: 0 5rem;
  color: var(--secondary-color);
  font-family: var(--ff-clash);
}

strong {
  color: var(--tertiary-color);
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--button-bg);
  outline: 1px solid var(--button-bg);
}
